doctype 5
html(lang="en")
	head
		title= site.sitename
		link(rel="icon",type="image/png",href="/img/fav-icon.png")
		link(rel="stylesheet",href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
		link(rel="stylesheet",href="/css/git-hoist.css")

		block header
	body
		nav.navbar.navbar-default.navbar-static-top(role="navigation")
			div.container
				div.navbar-header
					a.navbar-brand(href="/")
						img(src="/img/fav-icon.png")
						span  #{site.sitename}
					
				div.collapse.navbar-collapse
					p.navbar-text.navbar-right= renderTimeSpan

		div.container
			block content

		script(src="//code.jquery.com/jquery-1.10.2.min.js")
		script(src="/js/git-hoist.js")